* {
  margin: 0;
  padding: 0;
}

.container {
  width: 300px !important;
  height: 250px !important;
  border: 2px solid black !important;
  border-bottom: 20px solid blue !important;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2);
}
.button:hover {
  background-color: blue !important;
  color: white !important;
  border: none !important;
}
button {
  margin-left: 20px !important;
  background-color: white !important;
  border: 1px solid black !important;
}
.container-fluid {
  display: flex !important;
  margin-top: 25%;
  margin-bottom: 15px;
}
footer {
  width: 100%;
  height: 50px;
  text-align: center;
}
h6 {
  margin-top: 2rem !important;
}

.container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: -20%;
}
.country {
  text-align: center;
}
select {
  width: 300px;
  height: 50px;
  cursor: pointer;
}
button {
  width: 100px;
}
#myChart {
  width: 80% !important;
  margin-left: auto;
  margin-right: auto;
  height: 500px !important;
  margin-bottom: 10% !important;
}
.image {
  width: 800px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: -10%;
  margin-bottom: -10%;
}
